* {
    box-sizing: border-box;
}

html{
    background-color: antiquewhite;
    margin:0em 10em;
    padding-bottom: 5em;
}
  
nav{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: right;
}

body {
    font-family:"Steradian", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.herokid-bold{
    font-family:"Herokid", Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding-right: 1em;
    font-size: 230%;
    color: rgb(0, 0, 0);
}

.herokid-bold p{
    margin-top: 0em;
    margin-bottom: 0em;
}

.herokid-bold ul{
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 0.5em;
}

.font-red{
    color: #B92621;
}

.dm-mono{
    font-family:"DM-Mono", Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding-right: 1em;
    font-size: 230%;
    color: rgb(0, 0, 0);
}

.dm-mono-medium{
    font-weight: bold;
}

.dm-mono p{
    margin-top: 0em;
    margin-bottom: 0em;
}

a.project_link{
    text-decoration: none;
    color: black;
}

p.introduction{
    font-size: 1.5em;
}

p.schooling{
    text-align: right;
}

h2{
    font-size: 1em;
}

.front_img{
    width: 100%;
}

iframe{
    width: 100%;
    height: 65rem;
}

