/* TIME ESCAPE MAIN CSS */
/* ------------------------------------------------------- */

/* TIME ESCAPE GRID CSS */
/* ------------------------------------------------------- */
.context-container{
    display: grid;
    grid-template-rows: auto;
}

.context-container img{
    width: 100%;
    height: auto;
}

/* TIME ESCAPE MEDIA CSS */
/* ------------------------------------------------------- */